.lineChart {
  /*padding-left:1em;*/
  /*border: 1px solid white;*/
}

/*line {
  shape-rendering: crispEdges;
  stroke: white;
}*/

.axisLeft {
  fill: none;
  stroke: white;
}

path.domain {
  fill: none;
  stroke: white;
}

.tick line{
  opacity: 0.2;
  stroke: white;
}

.tick {
  /*color: white;*/
}

.tick text {
  color: white;
}

.axisBottom text {
  stroke: white;
}
