.lineChart {
  height: 100%;
}

.line {
  shape-rendering: crispEdges;
  stroke: #58B5FD;
}

.axis {
  fill: none;
  stroke: white;
  color: white;
  background-color: white;
}

path.domain {
  fill: none;
  stroke: white;
}

.tick line{
  opacity: 0.2;
  stroke: white;
}

.tick {
  /*color: white;*/
}

.tick text {
  color: white;
}

.axisLeft text {
  font-size: 15px;
}

.axisBottom text {
  stroke: white;
  font-size: 15px;
}
