Body {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-header p {
  font-size: 2em;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.traders {
  margin-left: 1em;
}

.traders p {
  text-align: left;
}

.trades {
  margin-left: 2em;
  text-align: left;
}
